= form_for @quiz do |f|
  - if @quiz.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quiz.errors.count, "error")} prohibited this quiz from being saved:"
      %ul
        - @quiz.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :subj
    = f.text_field :subj
  .field
    = f.label :tags
    = f.text_field :tags
  .actions
    = f.submit 'Save'
