%h1 Listing quizzes

%table
  %thead
    %tr
      %th Name
      %th Subj
      %th Tags
      %th Content
      %th
      %th
      %th

  %tbody
    - @quizzes.each do |quiz|
      %tr
        %td= quiz.name
        %td= quiz.subj
        %td= quiz.tags
        %td= quiz.content
        %td= link_to 'Show', quiz
        %td= link_to 'Edit', edit_quiz_path(quiz)
        %td= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Quiz', new_quiz_path
