!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 問題バンク 出力
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      (function(d) {
          var config = {
              kitId: 'cte1jff',
              scriptTimeout: 3000,
              async: true
          }, h = d.documentElement, t = setTimeout(function() {
              h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
          h.className += " wf-loading";
          tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
          tk.async = true;
          tk.onload = tk.onreadystatechange = function() {
              a = this.readyState;
              if (f || a && a != "complete" && a != "loaded")
                  return;
              f = true;
              clearTimeout(t);
              try {
                  Typekit.load(config)
              } catch (e) {}
          }
          ;
          s.parentNode.insertBefore(tk, s)
      }
      )(document);
    %script{:async => "", :src => "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG", :type => "text/javascript"}

  %body
    %div{:style => "height: 20px"}
    %h3.tacenter.mbt.fmin MondaiBank高等学校第3学年MB組　第2学期中間考査
    %h1.tacenter.subj.fgothic= @data.subj
    %h3.tacenter.gothic 問題用紙
    %table{:border => "2", :width => "100%"}
    %td{:style => "padding: 1em;"}
      %h4.fgothic
        答案作成上の注意
    　　%ol
          %li
            この問題用紙は2020年10月15日　2限に実施される3年MB組　公民演習（政治経済）の問題です．それまでの日時に開封してはいけません．
          %li
            問題用紙の欠落がある場合や破損・印刷ミス・作問ミスがあると思った場合は静かに挙手し，試験監督者の指示を待ちなさい．
          %li
            問題を解き始める前に，答案用紙上部の氏名等を記入する欄を事前に埋めておきなさい．
          %li
            試験監督者の指示と教室掲示の注意事項を必ず確認してから解答を始めなさい．
    .kaigyou

    = yield
